<section id="cv" style="background-color: #f8f9fa;">
    <div class="container">
        <h2>个人简历</h2>
        <div class="cv-content">
            <p>如需详细了解我的资历、经验和成就，请下载我的简历。</p>
            <a href="https://drive.google.com/file/d/11tjnfjXnF62zkWf-9O35zXWfBvCDNL6N/view?usp=sharing" target="_blank"
                class="cv-download-btn">
                <i class="fas fa-file-pdf"></i> 查看我的简历
            </a>
        </div>
    </div>
    <div style="height: 25px;"></div>
    <div style="width: 800px; margin: 0 auto;">
        <script type="text/javascript" id="clustrmaps"
            src="//clustrmaps.com/map_v2.js?d=2I6d5l1fNNf4HBFOq1yqHL2XiPH5Ulp_tbM68c2HI1Q&cl=ffffff&w=a"></script>
    </div>
</section>