<section id="experience">
    <div class="container">
        <h2>Experience</h2>
        <div class="timeline timeline-compact-staggered">

            <div class="timeline-item timeline-item-left">
                <div class="timeline-content">
                    <div class="timeline-title">
                        <h3>Research Assistant Internship</h3>
                        <span class="company">National University of Singapore</span>
                        <span class="duration">May 2024 - August 2024</span>
                    </div>
                    <ul>
                        <li>Fine-tuned LLM models using Python and LangChain to create AI teaching assistants for elementary school programming competitions</li>
                        <li>Developed customized prompt engineering strategies that enhanced model understanding of beginner-level C++ programming competition concepts</li>
                        <li>Created evaluation metrics to measure AI assistant effectiveness in explaining programming logic to young students</li>
                        <li>Collaborated with research team using Git for version control and documentation of model iterations</li>
                    </ul>
                </div>
            </div>
            <div class="timeline-item timeline-item-right">
                <div class="timeline-content">
                    <div class="timeline-title">
                        <h3>Undergraduate Research Student</h3>
                        <span class="company">University of Toronto</span>
                        <span class="research-group"><a href="https://dkundur.comm.utoronto.ca/" target="_blank">@Kundur Research Group</a></span>
                        <span class="duration">May 2025 - August 2025</span>
                    </div>
                    <ul>
                        <li>Developed Interpretable-MTLNet (Use KAN networks) to detect depression/anxiety from wearables; n=40k, macro-AUROC 0.731, outperforming CNN-LSTM, Transformer, and GBDT baselines.</li>
                        <li>Built a mathematically transparent pipeline with spline activations and visual feature-response curves; created a symbolic surrogate retaining 98.2% of full-model accuracy.</li>
                        <li>Solved the interpretability–performance trade-off for clinical AI, improving trust and regulatory readiness.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section> 