<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grealish Zhenghao Ni - 电子与计算机工程学生 & 开发者</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G0RG0FOEKX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-G0RG0FOEKX');
    </script>
</head>

<body>
    {% include header_cn.html %}
    {% include nav_cn.html %}
    {{ content }}
    {% include footer_cn.html %}
    {% include scripts.html %}
</body>

</html>